<section style="background-color: #eee">
  <div class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Consultar Juridico UPC</a
      ><!-- Navbar Search-->
      <!--<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
              <div class="input-group">
                  <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                  <div class="input-group-append">
                      <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
      </div>
      </div>
      </form>-->
      <!-- Navbar-->
    </nav>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 class="my-3">
              {{ docente.primerNombre }} {{ docente.primerApellido }}
            </h5>
            <p class="text-muted mb-1 my-3">Docente</p>
            <div class="d-flex justify-content-center mb-2">
              <button
                type="button"
                (click)="editando('on')"
                class="btn btn-primary my-2"
              >
                Editar
              </button>
            </div>
          </div>
        </div>
        <!-- <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul
              class="list-group list-group-flush rounded-3 text-center align-items-center"
            >
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                 <button
                  type="button"
                  routerLink="/registrarCasos"
                  class="btn btn-primary"
                >
                  En proceso
                </button>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
      <div class="col-lg-8">
        <div class="card mb-4" *ngIf="edit == 'off'">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nombre Completo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  {{ docente.primerNombre }} {{ docente.segundoNombre }}
                  {{ docente.primerApellido }} {{ docente.segundoApellido }}
                </p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Correo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ docente.correo }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Telefono</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ docente.telefono }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Direccion</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ docente.direccion }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Facultad</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ docente.facultad }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- editando -->
        <form (ngSubmit)="modificar()">
          <div class="card" *ngIf="edit == 'on'">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Id docente</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    disabled
                    class="form-control"
                    [(ngModel)]="docente.idDocente"
                    [ngModelOptions]="{ standalone: true }"
                    value="{{ docente.idDocente }}"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Primer Nombre</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    value="{{ docente.primerNombre }}"
                    [(ngModel)]="docente.primerNombre"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Segundo Nombre</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    value="{{ docente.segundoNombre }}"
                    [(ngModel)]="docente.segundoNombre"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Primer Apellido</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    value="{{ docente.primerApellido }}"
                    [(ngModel)]="docente.primerApellido"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Segundo Apellido</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    value="{{ docente.segundoApellido }}"
                    [(ngModel)]="docente.segundoApellido"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    disabled
                    class="form-control"
                    value="{{ docente.correo }}"
                    [(ngModel)]="docente.correo"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Telefono</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    value="{{ docente.telefono }}"
                    [(ngModel)]="docente.telefono"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Direccion</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    value="{{ docente.direccion }}"
                    [(ngModel)]="docente.direccion"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Facultar</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    value="{{ docente.facultad }}"
                    [(ngModel)]="docente.facultad"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <button
                    type="submit"
                    (click)="[editando('off'), modificar()]"
                    class="btn btn-primary btn-block mb-2"
                  >
                    Guardar Cambios
                  </button>

                  <button
                    type="button"
                    (click)="[editando('off')]"
                    class="btn btn-danger btn-block mb-2"
                  >
                    Cancelar Cambios
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <!-- fin editando -->
        <!-- editando  CASOOOOOO-->
        <form (ngSubmit)="modificarCaso()">
          <div class="card" *ngIf="editCaso == 'on'">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Id Caso</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    disabled
                    class="form-control"
                    [(ngModel)]="caso.idCaso"
                    [ngModelOptions]="{ standalone: true }"
                    value="{{ caso.idCaso }}"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Nombre Caso</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    disabled

                    value="{{ caso.nombreCaso }}"
                    [(ngModel)]="caso.nombreCaso"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Descripcion</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    disabled

                    value="{{ caso.descripcion }}"
                    [(ngModel)]="caso.descripcion"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Docente</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    value="{{ caso.docente }}"
                    [(ngModel)]="caso.docente"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Estudiante</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    value="{{ caso.estudiante }}"
                    [(ngModel)]="caso.estudiante"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Cliente</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    disabled
                    class="form-control"
                    value="{{ caso.cliente }}"
                    [(ngModel)]="caso.cliente"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Fecha</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="date"
                    class="form-control"
                    value="{{ caso.fecha }}"
                    disabled
                    [(ngModel)]="caso.fecha"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Estado</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    value="{{ caso.estado }}"
                    [(ngModel)]="caso.estado"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <button
                    type="submit"
                    (click)="[editandoCaso('off'), modificarCaso()]"
                    class="btn btn-primary btn-block mb-2"
                  >
                    Guardar Cambios
                  </button>

                  <button
                    type="button"
                    (click)="[editandoCaso('off')]"
                    class="btn btn-danger btn-block mb-2"
                  >
                    Cancelar Cambios
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <!-- fin editando CASOOOOO -->

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Id Caso</th>
                        <th>Nombre Caso</th>
                        <th>Descripcion</th>
                        <th>Docente</th>
                        <th>Estudiante</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let caso of casosConsultados">
                        <td *ngIf="caso.docente == docente.idDocente">
                          {{ caso.idCaso }}
                        </td>
                        <td *ngIf="caso.docente == docente.idDocente">
                          {{ caso.nombreCaso }}
                        </td>
                        <td *ngIf="caso.docente == docente.idDocente">
                          {{ caso.descripcion }}
                        </td>
                        <td *ngIf="caso.docente == docente.idDocente">
                          {{ caso.docente }}
                        </td>
                        <td *ngIf="caso.docente == docente.idDocente">
                          {{ caso.estudiante }}
                        </td>
                        <td *ngIf="caso.docente == docente.idDocente">
                          {{ caso.cliente }}
                        </td>
                        <td *ngIf="caso.docente == docente.idDocente">
                          {{ caso.fecha }}
                        </td>
                        <td *ngIf="caso.docente == docente.idDocente">
                          {{ caso.estado }}
                        </td>
                        <td *ngIf="caso.docente == docente.idDocente">
                          <button
                            *ngIf="caso.docente == docente.idDocente"
                            (click)="[editandoCaso('on'), cargarCaso(caso)]"
                            _ngcontent-eux-c77=""
                            class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                          >
                            <i
                              _ngcontent-eux-c77=""
                              class="far fa-edit"
                            ></i></button
                          ><button
                            *ngIf="caso.docente == docente.idDocente"
                            (click)="eliminarCaso(caso.idCaso)"

                            _ngcontent-eux-c77=""
                            class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                          >
                            <i
                              _ngcontent-eux-c77=""
                              class="far fa-trash-alt"
                            ></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
