<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table mr-1"></i>Lista Estudiantes
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Id Estudiante</th>
            <th>Primer Nombre</th>
            <th>Segundo Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Correo</th>
            <th>Semestre</th>
            <th>Estado</th> <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let estudiante of estudiantesConsultados">
            <td>{{ estudiante.idEstudiante }}</td>
            <td>{{ estudiante.primerNombre }}</td>
            <td>{{ estudiante.segundoNombre }}</td>
            <td>{{ estudiante.primerApellido }}</td>
            <td>{{ estudiante.segundoApellido }}</td>
            <td>{{ estudiante.telefono }}</td>
            <td>{{ estudiante.direccion }}</td>
            <td>{{ estudiante.correo }}</td>
            <td>{{ estudiante.semestre }}</td>
            <td>{{ estudiante.estado }}</td>
            <td>
                <button
                  _ngcontent-eux-c77=""
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                >
                  <i _ngcontent-eux-c77="" class="far fa-edit"></i></button
                ><button
                  _ngcontent-eux-c77=""
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                >
                  <i _ngcontent-eux-c77="" class="far fa-trash-alt"></i>
                </button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
